@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.AboutPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<div>@Html.GetGridHtml(Model, "gridLayout")</div>