@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Event>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}

@{
    var items = Model.Value<IEnumerable<IPublishedElement>>("myPropertyAlias");

    Model.Location.Value("address");

    foreach (Speaker speaker in Model.Speakers)
    {
        <p>@speaker.FirstName @speaker.LastName</p>

        <p>@speaker.Presentation</p>
    }
}


