@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">@Model.Value("siteTitle")</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">@Model.Value("mainContent")</p>

    </div>
 </div>

<div class="container px-4 py-0" id="custom-cards">
    <h2 class="pb-2 border-bottom">Recent projects</h2>
    
<div class="card-deck">
     @Umbraco.RenderMacro("listNewestProjects", new {numOfProjects="5"})
</div>

</div>